install
cdrom
lang en_US.UTF-8
keyboard us
network --bootproto=dhcp
rootpw vagrant
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --permissive
timezone UTC
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart
firstboot --disabled
reboot
user --name=vagrant --plaintext --password vagrant

%packages --ignoremissing --excludedocs
ansible
binutils
bzip2
clang
clang-devel
clang-libs
compiler-rt
cpp
dnf-yum
# GCC won't install during kickstart
# gcc
glibc-devel
hwdata
isl
iproute-tc
kernel-devel
kernel-headers
nfs-utils
net-tools
libselinux-python
llvm
llvm-devel
llvm-libs
libstdc++-devel
llvm-static
ncurses-c++-libs
ncurses-devel
NetworkManager
pigz
python2-dnf
tar
wget
unzip
zip

-linux-firmware
-plymouth
-plymouth-core-libs
%end

%post
# sudo
yum -y update
echo 'Defaults:vagrant !requiretty' > /etc/sudoers.d/vagrant
echo '%vagrant ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
chmod 440 /etc/sudoers.d/vagrant
%end

